@model iteration2.Models.MappedQuestions

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Champion - play game</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/images/gallery/challenge.jpg" type="image/png" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/customCSS/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/customCSS/bootstrap-responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/customCSS/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/customCSS/font-awesome.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/customCSS/isotope.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/customCSS/touchTouch.css" type="text/css" media="screen">

    <!--[if lt IE 8]>
        <div><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"/></a></div>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <![endif]-->
    <style type="text/css">

        .circle {
            width: 20px;
            height: 20px;
            border: 1px solid #000;
            position: absolute;
            border-radius: 15px;
        }

        .shaking img:hover {
            animation: shake 0.5s;
            animation-iteration-count: infinite;
        }

        @@keyframes shake {
            0% {
                transform: translate(1px, 1px) rotate(0deg);
            }

            10% {
                transform: translate(-1px, -2px) rotate(-1deg);
            }

            20% {
                transform: translate(-3px, 0px) rotate(1deg);
            }

            30% {
                transform: translate(3px, 2px) rotate(0deg);
            }

            40% {
                transform: translate(1px, -1px) rotate(1deg);
            }

            50% {
                transform: translate(-1px, 2px) rotate(-1deg);
            }

            60% {
                transform: translate(-3px, 1px) rotate(0deg);
            }

            70% {
                transform: translate(3px, 1px) rotate(-1deg);
            }

            80% {
                transform: translate(-1px, -1px) rotate(1deg);
            }

            90% {
                transform: translate(1px, 2px) rotate(0deg);
            }

            100% {
                transform: translate(1px, -2px) rotate(-1deg);
            }
        }

        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: #dc948b;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

            #myBtn:hover {
                background-color: #aec5a5;
            }

        .choice_bgc_white {
            background-color: white;
            color:black;
            padding-left:50px;
        }

        table {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        td {
            font-size: 20px;
            width:20%;
        }
    </style>
</head>
<body class="main">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- START MOUNTAIN EFFECT -->
    <div class="mountainbg">
        <div class="mountaincover">
            <div class="mountain">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain-two">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain-three">
                <div class="mountain-top">
                    <div class="mountain-cap-1"></div>
                    <div class="mountain-cap-2"></div>
                    <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="cloud"></div>
            <div class="hot-air-balloon">
                <img src="~/Content/images/gallery/bicycle.png" alt="" />
            </div>
        </div>
    </div>
    <!-- END MOUNTAIN EFFECT -->
    <div id="inner">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="box1">
                            <header>
                                <!-- START LOGO -->
                                <div class="logo_wrapper">
                                    <a href="/Home/Index" class="logo">
                                        <img src="~/Content/images/gallery/nav.png" alt="Safetychampion Logo" />
                                    </a>
                                </div>
                                <!-- END LOGO -->
                            </header>
                            <!-- START NAVIGATION MENU -->
                            <nav>
                                <div class="menu_wrapper">
                                    <div class="navbar navbar_">
                                        <div class="navbar-inner navbar-inner_">
                                            <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                                            <div class="nav-collapse nav-collapse_ collapse">
                                                <ul class="nav sf-menu clearfix">
                                                    <li style="cursor:pointer;"><a href="/Home/Index">Home<span class="over1"></span></a></li>
                                                    <li style="cursor:pointer;" class="active"><a onclick="backHome()">Challenge<span class="over1"></span></a></li>
                                                    <li style="cursor:pointer;"><a href="/Home/Ranking">Ranking<span class="over1"></span></a></li>
                                                    <li style="cursor:pointer;"><a href="/Home/Explore">Safety Intelligence<span class="over1"></span></a></li>
                                                    <li><a href="/Home/Contact">About Us<span class="over1"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                            <!-- END NAVIGATION MENU -->
                        </div>
                    </div>
                    <div class="span8 offset1">
                        <!-- START CAROUFREDSEL SLIDER -->
                        <div class="box2">
                            <div class="caroufredsel_slider1_wrapper">
                                <a class="prev1" href="index.html#"></a>
                                <a class="next1" href="index.html#"></a>
                                <ul id="caroufredsel_slider1" class="clearfix" style="cursor:default;">
                                    <li>
                                        <div class="caroufredsel_slide1" style="cursor:default;">
                                            <img src="~/Content/images/challenge/challengeHome2.jpg" alt="Slider2" class="img" style="cursor:default;" />
                                            <div class="txt1">Scroll Down and Play!</div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="pagination1" id="caroufredsel_pag1"></div>
                            </div>
                        </div>
                        <!-- END CAROUFREDSEL SLIDER -->
                    </div>
                </div>
            </div>
        </div>
        <div class="pages_wrapper">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <!-- START GALLERY -->
                        <div class="row">
                            <div class="news">
                                <div class="pages_title" style="color:#fff3e0;">SAFETY CHALLENGE</div>
                                <h5>Click on the dancing cars below to know what factors contributes to car accidents in your neighbourhood. Complete the questions that follow each factor to <b>unlock your prize!</b></h5>
                                <p>To restart the challenge, go to the HOME page and enter in a new postcode.</p>
                                <p>If you enter the same postcode, you can continue your previous challenge.</p>
                                <p>Remember, it is important to <i>think and act responsibly</i> while on the road.</p>
                            </div>
                            <div id="map">
                                <div class="col-md-12">
                                    <div class="school-classes">
                                        <table style="width:100%">
                                            <tr>
                                                <td>
                                                    <div id="1Factor" onclick="level1()">
                                                        <span class="shaking">
                                                            <img src="~/Content/images/challenge/1drunk.jpg" alt="Level 1 Drunk" height="200" width="200" />
                                                        </span>
                                                    </div>
                                                    <div id="1Done" style="display:none;">
                                                        <span>
                                                            <img src="~/Content/images/challenge/1drunk.jpg" alt="Level 1 Drunk" style="opacity: 0.4; filter: alpha(opacity=40);" height="200" width="200" />
                                                        </span>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <div id="Locked0Trophy" style="display:block;">
                                                        <span>
                                                            <img src="~/Content/images/challenge/0trophy.jpg" alt="Lorem" style="opacity: 0.4;filter: alpha(opacity=40);" height="200" width="200" />
                                                        </span>
                                                        <em></em>
                                                    </div>
                                                    <div id="Locked1Trophy" style="display:none;">
                                                        <span>
                                                            <img src="~/Content/images/challenge/1trophy.jpg" alt="Lorem" style="opacity: 0.4;filter: alpha(opacity=40);" height="200" width="200" />
                                                        </span>
                                                        <em></em>
                                                    </div>
                                                    <div id="Locked2Trophy" style="display:none;">
                                                        <span>
                                                            <img src="~/Content/images/challenge/2trophy.jpg" alt="Lorem" style="opacity: 0.4;filter: alpha(opacity=40);" height="200" width="200" />
                                                        </span>
                                                        <em></em>
                                                    </div>
                                                    <div id="Locked3Trophy" style="display:none;">
                                                        <span>
                                                            <img src="~/Content/images/challenge/3trophy.jpg" alt="Lorem" style="opacity: 0.4;filter: alpha(opacity=40);" height="200" width="200" />
                                                        </span>
                                                        <em></em>
                                                    </div>
                                                    <div id="Locked4Trophy" style="display:none;">
                                                        <span>
                                                            <img src="~/Content/images/challenge/4trophy.jpg" alt="Lorem" style="opacity: 0.4;filter: alpha(opacity=40);" height="200" width="200" />
                                                        </span>
                                                        <em></em>
                                                    </div>
                                                    <div id="final" onclick="getTreasure()" style="display:none">
                                                        <span class="shaking">
                                                            <img src="~/Content/images/challenge/5trophy.jpg" alt="Lorem" height="200" width="200">
                                                        </span>
                                                        <em></em>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <div id="5Locked" style="display:block;">
                                                        <span>
                                                            <img src="~/Content/images/challenge/5general.jpg" alt="Level 5 General locked" style="opacity: 0.4;filter: alpha(opacity=40);" height="200" width="200" />
                                                        </span>
                                                        <em></em>
                                                    </div>
                                                    <div id="5Factor" onclick="level5()" style="display:none;">
                                                        <span class="shaking">
                                                            <img src="~/Content/images/challenge/5general.jpg" alt="Level 5 General" height="200" width="200">
                                                            <em></em>
                                                        </span>
                                                    </div>
                                                    <div id="5Done" style="display:none;">
                                                        <span>
                                                            <img src="~/Content/images/challenge/5general.jpg" alt="Level 5 General greyed out" style="opacity: 0.4;filter: alpha(opacity=40);" height="200" width="200" />
                                                        </span>
                                                        <em></em>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="150"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <div id="2Locked" style="display:block;">
                                                        <span>
                                                            <img src="~/Content/images/challenge/2speeding.jpg" alt="Level 2 Speeding locked" style="opacity: 0.4;filter: alpha(opacity=40);" height="200" width="200" />
                                                        </span>
                                                        <em></em>
                                                    </div>
                                                    <div id="2Factor" onclick="level2()" style="display:none;">
                                                        <span class="shaking">
                                                            <img src="~/Content/images/challenge/2speeding.jpg" alt="Level 2 Speeding" height="200" width="200">
                                                            <em></em>
                                                        </span>
                                                    </div>
                                                    <div id="2Done" style="display:none;">
                                                        <span>
                                                            <img src="~/Content/images/challenge/2speeding.jpg" alt="Level 2 Speeding greyed out" style="opacity: 0.4;filter: alpha(opacity=40);" height="200" width="200" />
                                                        </span>
                                                        <em></em>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <div id="4Locked" style="display:block;">
                                                        <span>
                                                            <img src="~/Content/images/challenge/4fatigue.jpg" alt="Level 4 Fatigue locked" style="opacity: 0.4;filter: alpha(opacity=40);" height="200" width="200" />
                                                        </span>
                                                        <em></em>
                                                    </div>
                                                    <div id="4Factor" onclick="level4()" style="display:none;">
                                                        <span class="shaking">
                                                            <img src="~/Content/images/challenge/4fatigue.jpg" alt="Level 4 Fatigue" height="200" width="200">
                                                            <em></em>
                                                        </span>
                                                    </div>
                                                    <div id="4Done" style="display:none;">
                                                        <span>
                                                            <img src="~/Content/images/challenge/4fatigue.jpg" alt="Level 4 Fatigue greyed out" style="opacity: 0.4;filter: alpha(opacity=40);" height="200" width="200" />
                                                        </span>
                                                        <em></em>
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td height="150"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div id="3Locked" style="display:block;">
                                                        <span>
                                                            <img src="~/Content/images/challenge/3distraction.jpg" alt="Level 3 Distraction locked" style="opacity: 0.4;filter: alpha(opacity=40);" height="200" width="200" />
                                                        </span>
                                                        <em></em>
                                                    </div>
                                                    <div id="3Factor" onclick="level3()" style="display:none;">
                                                        <span id="3Factor" class="shaking">
                                                            <img src="~/Content/images/challenge/3distraction.jpg" alt="Level 3 Distraction" height="200" width="200">
                                                            <em></em>
                                                        </span>
                                                    </div>
                                                    <div id="3Done" style="display:none;">
                                                        <span>
                                                            <img src="~/Content/images/challenge/3distraction.jpg" alt="Level 3 Distraction greyed out" style="opacity: 0.4;filter: alpha(opacity=40);" height="200" width="200" />
                                                        </span>
                                                        <em></em>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- End Gallery -->
                        </div>

                        <div id="ques" class="container">
                            <div id="question_desc" class="question"></div>
                            <div id="choices">
                                <div class="button4 choice_bgc_white" onclick="clickChoice(0)" style="cursor:pointer;"><span id="option1">Default choice 1 description</span></div>
                                <div class="button4 choice_bgc_white" onclick="clickChoice(1)" style="cursor:pointer;"><span id="option2">Default choice 2 description</span></div>
                                <div class="button4 choice_bgc_white" onclick="clickChoice(2)" style="cursor:pointer;"><span id="option3">Default choice 3 description</span></div>
                                <div class="challengeProgress" id="progress">Your Challenge Progress</div>
                            </div>
                            <div id="result" style="display:none; text-align:center;" class="col-md-12">
                                <h2>Check This Out</h2>
                                <div style="display:inline-block;" class="col-md-6">
                                    <div id="correct" style="display:block;">
                                        <img style="height:200px;" src="~/Content/GIFs/quiz-good.gif" />
                                    </div>
                                    <div id="incorrect" style="display:block;">
                                        <img style="height:200px;" src="~/Content/GIFs/quiz-hide.gif" />
                                    </div>
                                </div>
                                <div style="display:inline-block; text-align:left;" class="col-md-6">
                                    
                                    <p id="explanation" style="font-size:20px;width:400px">
                                        This is the result div. only show when incorrect answer.
                                    </p>
                                    <a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" class="button1" onclick="continueChallenge()">
                                        Got it!
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="introduction" class="container" style="display:none">
                            <div style="text-align:center;">
                                <h5 id="introduction_line1">Introduction to </h5>
                                <p id="introduction_line2">Your Council is </p>
                                <p id="introduction_line3"> is </p>
                                <p id="introduction_line4"></p>
                                <p id="introduction_line5"></p>
                                <div style="width:700px; margin:0 auto;">
                                    <div id="drunk" style="display:none; width:auto; height:auto; margin: 0 auto;">
                                        <div class='tableauPlaceholder' id='viz1538394498653' style='position: relative;'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ca&#47;CarCrashesbyDrunkDriving&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='CarCrashesbyDrunkDriving&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ca&#47;CarCrashesbyDrunkDriving&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                                        <script type='text/javascript'>var divElement = document.getElementById('viz1538394498653'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '700px'; vizElement.style.height = '560px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                                    </div>
                                    <div id="speeding" style="display:none; width:auto; height:auto; margin: 0 auto;">
                                        <div class='tableauPlaceholder' id='viz1538394420908' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ca&#47;CarCrashesbySpeeding_0&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='CarCrashesbySpeeding_0&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ca&#47;CarCrashesbySpeeding_0&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                                        <script type='text/javascript'>var divElement = document.getElementById('viz1538394420908'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '700px'; vizElement.style.height = '560px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                                    </div>
                                    <div id="fatigue" style="display:none; width:auto; height:auto; margin: 0 auto;">
                                        <div class='tableauPlaceholder' id='viz1538394449978' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ca&#47;CarCrashesbyFatiguedDriving_0&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='CarCrashesbyFatiguedDriving_0&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ca&#47;CarCrashesbyFatiguedDriving_0&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                                        <script type='text/javascript'>var divElement = document.getElementById('viz1538394449978'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '700px'; vizElement.style.height = '560px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                                    </div>
                                    <div id="distraction" style="display:none; margin: 0 auto;"></div>
                                    <div id="general" style="display:none; width:auto; height:auto; margin: 0 auto;">
                                        <div class='tableauPlaceholder' id='viz1538394475925' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ca&#47;CarCrashesbyDefectiveVehicle_0&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='CarCrashesbyDefectiveVehicle_0&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ca&#47;CarCrashesbyDefectiveVehicle_0&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                                        <script type='text/javascript'>var divElement = document.getElementById('viz1538394475925'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '700px'; vizElement.style.height = '560px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                                    </div>
                                </div>
                                <a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" onclick="continueToChallenge()" class="button1"> Continue </a>
                            </div>

                        </div>

                        <div id="finish" style="display:none; width:100%; height:auto; text-align:center">
                            <h1>
                                Congratulations! You have finished this Factor!
                            </h1>
                            <br />
                            <p style="color:black; font-size:20px;">
                                <a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" onclick="backToMap()" class="button1"> Go Back </a>
                            </p>
                        </div>

                        <div id="challengeResult" style="display:none;">
                            <h2>Congratulations!</h2>
                            <p id="challengeScore" style="font-size:20px;">
                                default result.
                            </p>
                            <p>Do you want to restart?</p>
                            <a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" onclick="restartChallenge()" class="button1">
                                Of Course
                            </a>
                            <a style="cursor: pointer;margin:0 auto;font-size:22px;font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" onclick="notNow()" class="button1">
                                Not Now
                            </a>
                            <br />
                            <p id="nameText">What about have your certificate? But we need your name to personalize it.</p>
                            <input id="inputName" type="text" placeholder="e.g. John Smith" />
                            <a id="downloadCertificate_btn" style="cursor: pointer; margin:0 auto; font-size:22px; font-family: 'Baloo Bhaijaan', cursive;" onmouseover="" class="button1" onclick="downloadCertificate()"> Download Certificate </a>
                        </div>
                        <!-- END GALLERY -->
                    </div>
                </div>
            </div>
        </div>
        <!-- START FOOTER -->
        <footer>
            <div class="social_wrapper">
                <ul class="social clearfix">
                    <li><a href="https://www.facebook.com/pg/Young-Safety-Champions-326344201469443/about/?ref=page_internal"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
            <div class="copyright">Joeys on the road © 2018</div>
        </footer>
        <!-- END FOOTER -->
    </div>

    <!-- JS -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/templateJS/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/templateJS/superfish.js"></script>
    <script src="~/Scripts/templateJS/jquery.ui.totop.js"></script>
    <script src="~/Scripts/templateJS/jquery.caroufredsel.js"></script>
    <script src="~/Scripts/templateJS/jquery.touchSwipe.min.js"></script>
    <script src="~/Scripts/templateJS/jquery.isotope.min.js"></script>
    <script src="~/Scripts/templateJS/bootstrap.js"></script>
    <script src="~/Scripts/templateJS/touchTouch.jquery.js"></script>

    <script>
        // CAROUFSEDSEL SLIDER 1
        $(document).ready(function () {
            $('#caroufredsel_slider1').carouFredSel({
                auto: {
                    timeoutDuration: 9000
                }
                , responsive: true
                , direction: "left"
                , width: '100%'
                , scroll: {
                    items: 1
                    , duration: 1000
                    , easing: "easeOutExpo"
                    , fx: "fade"
                }
                , items: {
                    width: '1000'
                    , height: 'variable'
                    , visible: {
                        min: 1
                        , max: 1
                    }
                }
                , mousewheel: false
                , swipe: {
                    onMouse: true
                    , onTouch: true
                }
                , pagination: ".pagination1"
            });
            $(window).bind("resize", updateSizes_vat).bind("load", updateSizes_vat);

            function updateSizes_vat() {
                $('#caroufredsel_slider1').trigger("updateSizes");
                $('#slider3 .carousel.main ul').trigger("updateSizes");
            }
            updateSizes_vat();
        });
        $(window).on('load', function () { });
        // ISOTOP
        $(window).on('load', function () {
            var $container = $('#isotope-items')
                , $optionSet = $('#isotope-options')
                , $optionSets = $('#isotope-filters')
                , $optionLinks = $optionSets.find('a');
            $container.isotope({
                filter: '*'
                , layoutMode: 'fitRows'
            });
            $optionLinks.click(function () {
                var $this = $(this);
                if ($this.hasClass('selected')) {
                    return false;
                }
                $optionSet.find('.selected').removeClass('selected');
                $this.addClass('selected');
                var selector = $(this).attr('data-filter');
                $container.isotope({
                    filter: selector
                });
                return false;
            });
            $(window).on("resize", function (event) {
                $container.isotope('reLayout');
            });
            $('.thumb-isotope .thumbnail a').touchTouch();
        });
    </script>
    @*<script type="text/javascript">

        document.onmousemove = animateCircles;

        var colors = ['#ccc', '#6cf', '#eba13a'];

        function animateCircles(event) {
            let circle = document.createElement("div");
            circle.setAttribute("class", "circle");
            document.body.appendChild(circle);

            circle.style.left = event.clientX + 'px';
            circle.style.top = event.clientY + 'px';

            var color = colors[Math.floor(Math.random() * colors.length)];
            circle.style.borderColor = color;

            circle.style.transition = "all 0.5s linear 0s";

            circle.style.left = circle.offsetLeft - 20 + 'px';
            circle.style.top = circle.offsetTop - 20 + 'px';

            circle.style.width = "50px";
            circle.style.height = "50px";
            circle.style.borderWidth = "5px";
            circle.style.opacity = 0;

            setTimeout(function () {
                circle.remove();
            }, 500);
        }
    </script>*@

    <link href="~/Content/customCSS/Challenge.css" rel="stylesheet" />

    <script>
        var alcohol_imp = "@ViewBag.alcohol_imp";
        var speeding_imp = "@ViewBag.speeding_imp";
        var fatigue_imp = "@ViewBag.fatigue_imp";
        var data = @Html.Raw(Json.Encode(Model));

        var LGAs = "@ViewBag.LGAs".split(",");

        var distributions = "@ViewBag.distributions".split(",");
        var postcode = @ViewBag.postcode;

        console.log(data);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="~/Scripts/customJS/Challenge.js"></script>
    <script>
        function backHome() {
            Cookies.set("scrollDown", "1");
            window.location = "/Home/Index";

        }

        function SaveDocument() {
            if (Array.isArray(LGAs)) {
                LGAs = LGAs[0];
            }
            var record = {
                "postcode": postcode,
                "council_name": LGAs,
                "year": "@DateTime.Now.Year",
                "month": "@DateTime.Now.Month",
                "day": "@DateTime.Now.Day",
                "week": "@DateTime.Now.DayOfYear",
                "drunk_score": Cookies.get("1") / distributions[0] + "",
                "speeding_score": Cookies.get("2") / distributions[1] + "",
                "distraction_score": Cookies.get("3") / distributions[2] + "",
                "fatigue_score": Cookies.get("4") / distributions[3] + "",
                "general_score": Cookies.get("5") / distributions[4] + "",
                "total_score": score + ""
            };
            $.ajax({
                url: "/Home/InsertIntoDatabase",
                type: "POST",
                contentType: "application/json;",
                data: "{score:" + JSON.stringify(record) + "}",
                success: function (mydata) {
                    //alert("Saved");
                    console.log(mydata);
                },
                error: function (xhr, textStatus, error) {
                    console.log(xhr.statusText);
                    console.log(textStatus);
                    console.log(error);
                }
            });
        }

        function downloadCertificate() {
            var name = document.getElementById("inputName").value;
            // if name is empty
            if (name == null || $.trim(name) == "") {
                document.getElementById("nameText").innerHTML = "We really need your name, please don't leave it empty or with spaces.";
            }
            //if not empty but more than 20 characters
            else if ($.trim(name).length > 20) {
                document.getElementById("nameText").innerHTML = "You have exceeded 20 characters. Try again.";
            }
            //if valid.
            else {
                Cookies.set("name", name);
                location.href = '@Url.Action("PrintViewToPdf", "Home")'
                document.getElementById("nameText").innerHTML = "Thank you for your downloading.";
                document.getElementById("inputName").disabled = true;
                document.getElementById("downloadCertificate_btn").style.display = "none";
            }
        }
    </script>
</body>
</html>