
@{
    ViewBag.Title = "Joeys on the road";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/customCSS/Factors.css" rel="stylesheet" />

<div class="body">
    <table align="center">
        <tr>
            <td></td>
            <td width="800" rowspan="2">
                <img src="~/Content/images/Joey copy.png" style="width:600px; height:auto;" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div id="distractionDone" class="done" style="display:none;">
                    <img src="~/Content/images/done.jpeg" />
                </div>
                <div id="distractionFactor">
                    <a href="@Url.Action("Challenge", "Home", new {factor = "Distraction" })">
                        <img src="~/Content/images/Distraction.png" />
                    </a>
                </div>

            </td>
            <td>
                <div id="fatigueDone" class="done" style="display:none;">
                    <img src="~/Content/images/done.jpeg" />
                </div>
                <div id="fatigueFactor">
                    <a href="@Url.Action("Challenge", "Home", new {factor = "Fatigue" })">
                        <img src="~/Content/images/Tired.png" />
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="speedingDone" class="done" style="display:none;">
                    <img src="~/Content/images/done.jpeg" />
                </div>
                <div id="speedingFactor">
                    <a href="@Url.Action("Challenge", "Home", new {factor = "Speeding" })">
                        <img src="~/Content/images/Speeding.png" />
                    </a>
                </div>
            </td>
            <td>
                <div id="generalDone" class="done" style="display:none;">
                    <img src="~/Content/images/done.jpeg" />
                </div>
                <div id="generalFactor">
                    <a href="@Url.Action("Challenge", "Home", new {factor = "General" })">
                        <img src="~/Content/images/General.png" />
                    </a>
                </div>
            </td>
            <td>
                <div id="drunkDone" class="done" style="display:none;">
                    <img src="~/Content/images/done.jpeg" />
                </div>
                <div id="drunkFactor">
                    <a href="@Url.Action("Challenge", "Home", new {factor = "Drunk" })">
                        <img src="~/Content/images/Drunk.png" />
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="challengeResult" class="challengeResult">
    <h2>Congratulation!</h2>
    <p id="challengeScore" style="font-size:20px;">
        default result.
    </p>
    <br />
    <p>Do you want to restart?</p>
    <button onclick="restartChallenge()" class="challengeResult-btn">
        Of Course
    </button>
    <button onclick="notNow()" class="challengeResult-btn">
        Not Now
    </button>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="~/Scripts/customJS/Factor.js"></script>